/*[.]swp
/api[.]texi[~]
/internal[.]texi[~]
/marpa[.]c
/marpa[.]idx
/marpa[.]log
/marpa[.]pdf
/marpa[.]scn
/marpa[.]tex
/marpa[.]toc
/marpa[.]h[.]p50
/marpa[.]h[.]p80
/marpa_util[.]h
/marpa_int[.]h
/private[.]h
