/api[.]texi[~]
/cwebmac[.]tex
/internal[.]texi[~]
/marpa[.]c
/marpa[.]c[.]p10
/marpa[.]c[.]p40
/marpa[.]c[.]p50
/marpa[.]def
/marpa[.]h[.]p50
/marpa[.]h[.]p80
/marpa[.]idx
/marpa[.]log
/marpa[.]pdf
/marpa[.]scn
/marpa[.]tex
/marpa[.]toc
/legacy[.]idx
/legacy[.]log
/legacy[.]pdf
/legacy[.]scn
/legacy[.]tex
/legacy[.]toc
/private[.]h
/*[.]swp
