/*[.]swp
/api[.]texi[~]
/codes[.]c
/codes[.]h
/internal[.]texi[~]
/marpa[.]c
/marpa[.]h
/marpa[.]idx
/marpa[.]log
/marpa[.]pdf
/marpa[.]scn
/marpa[.]tex
/marpa[.]toc
/marpa_api[.]h
/marpa_util[.]h
/marpa_int[.]h
/private[.]h
