/Makefile[.]in
/VERSION
/aclocal[.]m4
/autom4te[.]cache
/codes[.]c
/codes[.]h
/config[.]guess
/config[.]h[.]in
/config[.]h[.]in~
/config[.]sub
/configure
/depcomp
/install-sh
/ltmain[.]sh
/m4
/marpa[.]c
/marpa[.]h
/marpa_api[.]h
/missing
/private[.]h
/standalone[.]c
