/Makefile[.]in
/VERSION
/aclocal[.]m4
/api[.]h[.]in
/autom4te[.]cache
/config[.]guess
/config[.]h[.]in
/config[.]h[.]in~
/config[.]sub
/configure
/depcomp
/error[.]c[.]in
/error[.]h[.]in
/error[.]list
/install-sh
/ltmain[.]sh
/m4
/marpa[.]c
/marpa[.]h[.]in
/missing
/standalone[.]c
