/copyright_page_license[.]w
/cwebmac[.]tex
/do_not_edit.c
/license.c
/marpa_slif[.]c
/marpa_slif[.]c[.]p[0-9][0-9]
/marpa_slif[.]h
/marpa_slif[.]h[.]p[0-9][0-9]
/marpa_slif[.]idx
/marpa_slif[.]log
/marpa_slif[.]pdf
/marpa_slif[.]scn
/marpa_slif[.]tex
/marpa_slif[.]toc
/slif_private[.]h
/*[.]swp
/w2private_h[.]pl
