/cwebmac[.]tex
/marpa_slif[.]c
/marpa_slif[.]c[.]p[0-9][0-9]
/marpa_slif[.]c-ops
/marpa_slif[.]h
/marpa_slif[.]h[.]p[0-9][0-9]
/marpa_slif[.]h-ops
/marpa_slif[.]idx
/marpa_slif[.]log
/marpa_slif[.]pdf
/marpa_slif[.]scn
/marpa_slif[.]tex
/marpa_slif[.]toc
/*[.]swp
