.gdb_history
[.]DS_Store
/pod2htmd.tmp
/pod2htmi.tmp
/Build
/MYMETA.yml
/MYMETA.json
/Makefile
/Marpa-R2-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9].tar.gz
/Marpa-R2-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9]/
/Marpa-R2-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9].tar.gz
/Marpa-R2-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9]/
/_build/
/blib/
errs
junk
/nogit/
nogit*
