/copyright_page_license[.]w
/cwebmac[.]tex
/marpa_ami[.]c
/marpa_ami[.]c[.]p[0-9]
/marpa_ami[.]h
/marpa_ami[.]h[.]p[0-9]
/marpa_ami[.]idx
/marpa_ami[.]log
/marpa_ami[.]pdf
/marpa_ami[.]scn
/marpa_ami[.]tex
/marpa_ami[.]toc
/ami_private[.]h
/*[.]swp
/w2private_h[.]pl
