.gdb_history
/Build
/META.json
/META.yml
/MYMETA.json
/MYMETA.yml
/Makefile
/Marpa-R2-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9].tar.gz
/Marpa-R2-[0-9].[0-9][0-9][0-9][0-9][0-9][0-9]/
/Marpa-R2-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9].tar.gz
/Marpa-R2-[0-9].[0-9][0-9][0-9]_[0-9][0-9][0-9]/
/_build/
/blib/
/blib_shared/
/libmarpa_build/
/libmarpa_shared/
/libmarpa_dist/
/libmarpa_doc_dist/
/hide/
/pod2htmd.tmp
/pod2htmi.tmp
[.]DS_Store
errs
junk
nogit*
dovg.log
