/*[.]swp
/marpa[.]c
/marpa[.]h[.]in
/marpa[.]idx
/marpa[.]log
/marpa[.]scn
/marpa[.]tex
/marpa[.]pdf
/marpa[.]toc
/api[.]idx
/api[.]aux
/api[.]log
/api[.]scn
/api[.]tex
/api[.]pdf
/api[.]toc
/api[.]cp
/api[.]fn
/api[.]ky
/api[.]pg
/api[.]tp
/api[.]vr
