/*[.]swp
/api/
/api[.]aux
/api[.]cp
/api[.]cps
/api[.]fn
/api[.]fns
/api[.]h[.]in
/api[.]idx
/api[.]info
/api[.]ky
/api[.]log
/api[.]pdf
/api[.]pg
/api[.]scn
/api[.]tex
/api[.]toc
/api[.]tp
/api[.]vr
/api[.]vrs
/codes[.]c[.]in
/codes[.]h[.]in
/marpa[.]c
/marpa[.]h[.]in
/marpa[.]idx
/marpa[.]log
/marpa[.]pdf
/marpa[.]scn
/marpa[.]tex
/marpa[.]toc
/private[.]h
